<div id="<%= dom_id tik_tok_post %>">
  <p>
    <strong>Caption:</strong>
    <%= tik_tok_post.caption %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= tik_tok_post.author %>
  </p>

  <p>
    <strong>Views:</strong>
    <%= tik_tok_post.views %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= tik_tok_post.likes %>
  </p>

</div>
